<mat-spinner *ngIf="isLoading" class="loading"></mat-spinner>

<div class="container" *ngIf="!isLoading">
  <form class="form" required [formGroup]="form">
    <app-message-errors [control]="form.get('cpf')"></app-message-errors>
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" mask="000.000.000-00" />
    </mat-form-field>
    <app-message-errors [control]="form.get('cpf')"></app-message-errors>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <app-message-errors [control]="form.get('name')"></app-message-errors>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" mask="999" />
    </mat-form-field>
    <app-message-errors
      [messageError]="{ max: 'Ja ta morto' }"
      [control]="form.get('age')"
    ></app-message-errors>

    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre">
        <mat-option *ngFor="let gen of genres" [value]="gen.value">
          {{ gen.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-message-errors [control]="form.get('genre')"></app-message-errors>

    <ng-template [ngIf]="otherGenre">
      <mat-form-field appearance="fill">
        <mat-label>Other genre</mat-label>
        <input matInput formControlName="otherGenre" />
      </mat-form-field>
      <app-message-errors
        *ngIf="otherGenre"
        [control]="form.get('otherGenre')"
      ></app-message-errors>
    </ng-template>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" mask="9.09" />
    </mat-form-field>
    <app-message-errors [control]="form.get('height')"></app-message-errors>

    <button mat-raised-button color="primary" (click)="onSend()">
      {{ send ? "Send" : "Save" }}
    </button>
  </form>
</div>
